name: DestroyCdkStack

on:
  repository_dispatch:

jobs:
  destroy:
    runs-on: ubuntu-latest
    environment: 'us-east-1'
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Install TypeScript and CDK
      run: |
        npm install -g typescript aws-cdk
        npm i -D @types/node
        npm link typescript
    - name: Install package dependencies
      run: |
        cd cdk
        npm i
    - name: CDK Destroy
      run: cdk destroy --force
      env:
        AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY_ID }}'
        AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
        AWS_DEFAULT_REGION: '${{ secrets.AWS_DEFAULT_REGION }}'
        CDK_DEFAULT_ACCOUNT: '${{ secrets.CDK_DEFAULT_ACCOUNT }}'
        CDK_DEFAULT_REGION: '${{ secrets.AWS_DEFAULT_REGION }}'